/* Empty Styles for now */
#red {
  background-color: #ff3300;
}
#white {
  background-color: white;
}
#green {
  background-color: green;
}
#dark-green {
  background-color: orange;
}
.container {
  margin-top: 10px;
}
#order-form {
  margin-top: 20px;
}
