
body {
  background-image: url("../img/background2.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#top-row {
  margin-bottom: 18px;
}
#title h2{
  text-shadow: 1px 1px 2px grey;
  font-weight: bold;
}
.btn {
  margin-top: 10px;
}
#red {
  background-color: #ff3300;
}
img {
  display: block;
  align-items: center;
  border:1px solid #;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 8px;

}
#white {
  background-color: white;
}
#green {
  background-color: green;
}
#dark-green {
  background-color: orange;
}
.container {
  margin-top: 10px;
}
#order-form {
  margin-top: 20px;
}
